.bg-dark h1,
.bg-dark p,
.bg-dark h3,
.breadcrumb.bg-dark a,
.bg-dark span,
.bg-dark label,
.bg-dark th,
.bg-dark td,
.bg-dark.list-group-item,
.bg-dark h4,
.bg-dark h2,
.bg-dark pre {
  color: #fff !important;
}

.bg-dark hr {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.bg-dark input[type="text"],
.bg-dark input[type="number"],
.bg-dark select,
.bg-dark textarea {
  background-color: #454d55;
  color: #f5f5f5;
  border-color: #000;
}

.bg-dark p.alert {
  color: inherit !important;
}
